<!DOCTYPE html>
<html>
    <head> 
        <meta charset='utf-8'>
        <title>{{pageTitle}}</title>
    </head>
    <body>
        {{> header}}

        <p>Some text to render more help</p>

        {{> footer}}
    </body>
</html>