<!DOCTYPE html>
<html>
    <head> 
        <meta charset='utf-8'>
        <title>{{pageTitle}}</title>
    </head>
    <body>
       {{> header}}

        <h3>My name is 'wale A or rajesh or raj for short</h3>
        <p>I make things that work on computers</p>
        <p>Here's a list of my projects...yh short list. bite me </p>
        <ul>
            <li>
                <a href='simplyadsng.com' target='_blank'>simplyadsng.com</a>
            </li>
            <li>
                <a href='hellocare.ng' target='_blank'>hellocare.ng</a>            
            </li>
            <li>
                <a href='sheltuh.com.ng' target='_blank'>sheltuh.com.ng</a>            
            </li>
            <li>
                <a href='buyavrika.com' target='_blank'>buyavrika.com</a>
            </li>
        </ul>

       {{> footer}}
    </body>
</html>